<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Enjoy">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>ThriftHaven</title>
      <!-- 引入阿里巴巴的 Iconfont -->
      <link rel="stylesheet" href="//at.alicdn.com/t/c/font_3198828_k5lqbtqol5f.css" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
