<!--管理员界面展示的图表信息 柱状图-->
<!-- YiHan -->
<template>
  <div>
    <div id="echart-bar">
    </div>
    <upload-num class="rate"></upload-num>
  </div>
</template>
<script>
import {queryGoodsDate, queryUploadNum} from "@/api/admin/goodsMan";
import UploadNum from "@/components/admin/UploadNum.vue";

export default {
  components: {UploadNum},
  data() {
    return {
      xdata: [],
      seriesData: [],
      pieData: []
    }
  },
  mounted() {
    this.queryGoodsDate()
  },
  methods: {
    creatEchart() {
      let barChart = this.$echarts.init(document.getElementById('echart-bar'));
      barChart.setOption({
        title: {
          text: '各产品销量',
          left: 'center'
        },
        xAxis: {
          type: 'category',
          data: this.xdata
        },
        yAxis: {
          type: 'value'
        },
        series: [{
          data: this.seriesData,
          type: 'bar',
          showBackground: true,
          backgroundStyle: {
            color: 'rgba(220, 220, 220, 0.8)'
          }
        }]
      });
      let pieChart = this.$echarts.init(document.getElementById('echart-pie'));
      pieChart.setOption({
        name: '上传商品数量',
        type: 'pie',
        center: ['50%', '60%'],
        radius: '55%',
        itemStyle: {
          // 设置扇区样式，例如边框和阴影
          borderColor: '#fff',
          borderWidth: 2,
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        },
        label: {
          // 设置标签样式
          show: true,
          position: 'outside',
          formatter: '{b}: {c} ({d}%)'
        },
        emphasis: {
          itemStyle: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)'
          }
        },
        series: [{
          type: 'pie',
          data: this.pieData // 使用从后端接收的数据
        }]
      })
      window.addEventListener('resize', function () {
        barChart.resize()
        pieChart.resize()
      })
    },
    queryGoodsDate() {
      queryGoodsDate().then(res => {
        this.xdata = res.data.map(item => item.name);
        this.seriesData = res.data.map(item => item.value);
        this.creatEchart()
      })
      queryUploadNum().then(res => {
        this.pieData = res.data
        this.creatEchart()
      })
    }
  },
}
</script>
<style scoped>
#echart-bar {
  width: 1300px;
  height: 300px;
  background-color: skyblue;
}
.rate {
  float: left;
}
</style>
