<!--商品管理-->
<!-- YiHan -->

<template>
  <div>
    <div class="search-form">
      <el-form size="mini" :model="queryParams" ref="queryForm" :inline="true" label-width="68px">
        <el-row>
          <el-col :span="6">
            <el-form-item label="title">
              <el-input v-model="queryParams.title"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="description">
              <el-input v-model="queryParams.description"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="category">
              <el-input v-model="queryParams.category"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="brand">
              <el-input v-model="queryParams.brand"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col>
            <el-col :span="6">
              <el-form-item label="level">
                <el-input v-model="queryParams.level" placeholder="range: 1~10"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="location">
                <el-input v-model="queryParams.location"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="method">
                <el-select v-model="queryParams.sendMethod" placeholder="sendMethod" style="width: 150px">
                  <el-option label="Express Delivery" value="Express Delivery"></el-option>
                  <el-option label="Self-pickup" value="Self-pickup"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">
                <span>查 询</span>
              </el-button>
              <el-button type="info" icon="el-icon-search" size="mini" @click="handleRet">
                <span>重 置</span>
              </el-button>
              <el-button type="warning" icon="el-icon-download" size="mini"
                         @click="handleExport">
                <span>导 出</span>
              </el-button>
            </el-col>
          </el-col>
        </el-row>
      </el-form>
      <div>

      </div>
    </div>
    <div>
      <el-table :data="orderList" border>
        <el-table-column prop="title" label="title" align="center"/>
        <el-table-column prop="description" label="description" align="center"  show-overflow-tooltip/>
        <el-table-column prop="brand" label="brand" align="center"/>
        <el-table-column prop="level" label="level" align="center"/>
        <el-table-column prop="price" label="price" align="center"/>
        <el-table-column prop="location" label="location" align="center"/>
        <el-table-column prop="sendMethod" label="sendMethod" align="center"/>
        <el-table-column prop="insertTime" label="insertTime" align="center"/>
        <el-table-column prop="isDelete" label="status" align="center"/>
        <el-table-column label="operation" align="center">
          <template slot-scope="scope">
            <el-button type="danger" v-if="scope.row.isDelete === '0'" @click="downGoods(scope.row)">下架</el-button>
            <el-button type="primary" v-else @click="downGoods(scope.row)">上架</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import {downGoods, exportList, orderList, queryList} from "@/api/admin/goodsMan";

export default {
  name: "GoodsManage",
  created() {
    this.getOrderList()
  },
  data() {
    return {
      queryParams: {},
      orderList: []
    }
  },
  methods: {
    getOrderList() {
      orderList().then(res => {
        this.orderList = res.data
      })
    },
    handleQuery() {
      queryList(this.queryParams).then(res => {
        if (res !== undefined){
          this.orderList = res.data
        }
      })
    },
    handleRet(){
      this.queryParams = {}
    },
    handleExport() {
      exportList(this.queryParams).then(res => {
        console.log(res)
      })
    },
    downGoods(row){
      downGoods(row.goodsId).then(res => {
        this.getOrderList()
      })
    }
  }
}
</script>


<style scoped>
.search-form {
  float: left;
}
</style>
