<!--管理员界面展示的图表信息 饼状图-->
<!-- YiHan -->

<template>
  <div>
    <div id="echart-pie"></div>
  </div>
</template>
<script>
import {queryUploadNum} from "@/api/admin/goodsMan";

export default {
  name: 'uploadNum',
  data() {
    return {
      pieData: []
    }
  },
  mounted() {
    this.queryGoodsDate()
  },
  methods: {
    creatEchart() {
      let pieChart = this.$echarts.init(document.getElementById('echart-pie'));
      pieChart.setOption({
        name: '上传商品数量',
        type: 'pie',
        center: ['50%', '60%'],
        radius: '55%',
        itemStyle: {
          // 设置扇区样式，例如边框和阴影
          borderColor: '#fff',
          borderWidth: 2,
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        },
        label: {
          // 设置标签样式
          show: true,
          position: 'outside',
          formatter: '{b}: {c} ({d}%)'
        },
        emphasis: {
          itemStyle: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)'
          }
        },
        series: [{
          type: 'pie',
          data: this.pieData // 使用从后端接收的数据
        }]
      })
      window.addEventListener('resize', function () {
        pieChart.resize()
      })
    },
    queryGoodsDate() {
      queryUploadNum().then(res => {
        this.pieData = res.data
        this.creatEchart()
      })
    }
  },
  watch: {},
}
</script>
<style scoped>
#echart-pie {
  width: 1300px;
  height: 400px;
}
</style>
