<!--用户信息管理-->
<!-- YiHan -->

<template>
  <div>
    <div class="search-form">
      <el-form size="mini" :model="queryParams" ref="queryForm" :inline="true" label-width="68px">
        <!-- Input fields for searching user_info -->
        <el-row>
          <el-col :span="6">
            <el-form-item label="Account">
              <el-input v-model="queryParams.userAccount"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Name">
              <el-input v-model="queryParams.userName"></el-input>
            </el-form-item>
          </el-col>
          <!-- Buttons for searching, resetting, and exporting data -->
          <el-col :span="12">
            <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">
              <span>Search</span>
            </el-button>
            <el-button type="info" icon="el-icon-search" size="mini" @click="handleRet">
              <span>Reset</span>
            </el-button>
          </el-col>
          <!-- Add more input fields based on your user_info table structure -->
        </el-row>

        <el-row>

        </el-row>
      </el-form>
    </div>

    <!-- Display user_info data in a table -->
    <div>
      <el-table :data="userInfoList" border>
        <el-table-column prop="userId" label="User ID" align="center"/>
        <el-table-column prop="userAccount" label="User Account" align="center"/>
        <el-table-column prop="userName" label="User Name" align="center"/>
        <!-- Add more columns based on your user_info table structure -->
        <el-table-column label="Operation" align="center">
          <template slot-scope="scope">
            <!-- Add buttons for additional operations -->
            <el-button type="danger" @click="deleteUser(scope.row.userId)">Delete</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
// Import API methods for managing user_info
import {deleteUser, getUserInfoList} from "@/api/admin/userinfo";

export default {
  name: "UserInfoManagement",
  data() {
    return {
      queryParams: {},
      userInfoList: []
    };
  },
  created() {
    // Fetch user_info data when the component is created
    this.getUserInfoList();
  },
  methods: {
    // Method to fetch user_info data based on search parameters
    getUserInfoList() {
      getUserInfoList(this.queryParams).then(res => {
        if (res !== undefined) {
          this.userInfoList = res.data;
        }
      });
    },
    // Method to handle the search operation
    handleQuery() {
      this.getUserInfoList();
    },
    // Method to handle the reset operation
    handleRet() {
      this.queryParams = {};
      this.getUserInfoList();
    },
    // Method to handle the delete operation
    deleteUser(userId) {
      deleteUser(userId).then(() => {
        this.getUserInfoList();
      });
    },
    // Add more methods for additional operations (e.g., edit user_info)
  }
};
</script>

<style scoped>
.search-form {
  float: left;
}
</style>
