<!--管理员后台主页-->
<!-- YiHan -->

<template>
  <el-container class="app">
    <!-- 头部 -->
    <el-header style="background-color:cornflowerblue;"><h1>后台管理系统</h1></el-header>

    <el-container>
      <!-- 侧边栏 -->
      <el-aside width="200px" class="custom-aside">
        <el-menu :router="true" class="el-menu-vertical-demo" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b" >
          <el-submenu index="1">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span>商品管理</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="/watch">报表统计</el-menu-item>
              <el-menu-item index="/goods">商品列表</el-menu-item>
            </el-menu-item-group>
<!--              <el-menu-item index="1-3">选项3</el-menu-item>-->
<!--            <el-submenu index="1-4">-->
<!--              <template slot="title">选项4</template>-->
<!--              <el-menu-item index="1-4-1">选项1</el-menu-item>-->
<!--            </el-submenu>-->
          </el-submenu>
<!--          <el-menu-item index="orderman">-->
<!--            <i class="el-icon-menu"></i>-->
<!--            <span slot="title">订单管理</span>-->
<!--          </el-menu-item>-->
          <el-menu-item index="userman">
            <i class="el-icon-document"></i>
            <span slot="title">用户管理</span>
          </el-menu-item>
        </el-menu>
      </el-aside>

      <!-- 主要内容区域 -->
      <el-main>
        <router-view/>
      </el-main>
    </el-container>
  </el-container>
</template>

<style scoped>
.custom-aside {
  background-color: #333; /* 背景色 */
  border: 1px solid #555; /* 边框 */
  overflow: hidden; /* 禁用滚动条 */
}
.el-menu-vertical-demo {
  height: 850px;
}
</style>
