<!--网站主页部分-->
<!-- YiHan -->

<template>
  <div class="photolist">
    <div v-if="isSee">
      <el-carousel :interval="3000" type="card" arrow="always" height="500px">
        <el-carousel-item v-for="(item,index) in shopList" :key="index" >
          <img :src="item.p1" alt="" @click="getGoodInfo(item.goodsId)">
        </el-carousel-item>
      </el-carousel>
    </div>
    <el-divider><span class="font1">Recommended</span></el-divider>
    <div>
      <el-row>
        <!-- Use v-for to loop through your data array -->
        <el-col v-for="(item, index) in recommendedItems" :key="index" :span="6">
          <el-card class="box-card" >
            <img :src="item.p1" class="item-img" alt="" @click="getGoodInfo(item.goodsId)"/>
            <div class="text item-name" @click="getGoodInfo(item.goodsId)">{{ item.title }}</div>
            <div class="text item-price" @click="getGoodInfo(item.goodsId)">$ {{ item.price }}</div>
<!--            <el-button class="button" type="primary" @click="look(item)">查看</el-button>-->
          </el-card>
        </el-col>
      </el-row>
    </div>

    <el-divider><span class="font1">My Seller</span></el-divider>

    <div v-if="isSee">
      <el-row>
        <!-- Use v-for to loop through your data array -->
        <el-col v-for="(item, index) in mySellList" :key="index" :span="6">
          <el-card class="box-card" >
            <img :src="item.p1" class="item-img" alt="" @click="getGoodInfo(item.goodsId)"/>
            <div class="text item-name" @click="getGoodInfo(item.goodsId)">{{ item.title }}</div>
            <div class="text item-price" @click="getGoodInfo(item.goodsId)">$ {{ item.price }}</div>
            <el-button type="danger" @click="delGoods(item.goodsId)">删除</el-button>
            <!--            <el-button class="button" type="primary" @click="look(item)">查看</el-button>-->
          </el-card>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import {getList, getMySellList, getRecommendList} from "@/api/shop/shop";
import {delGoods} from "@/api/goods/goods";

export default {
  name: "MainFace",
  created() {
    this.userName = JSON.parse(localStorage.getItem("user")).userAccount
    this.getShopList()
    this.getRecommendList()
    this.getMySellList()
  },
  data(){
    return {
      userName: null,
      isSee: true,
      shopList: [],
      goodsId: '',
      recommendedItems: [],
      mySellList: []
    }
  },
  methods: {
    getShopList(){
      getList().then(res => {
        this.shopList = res.data
      })
    },
    getRecommendList(){
      getRecommendList().then(res => {
        this.recommendedItems = res.data
      })
    },
    getMySellList(){
      getMySellList(this.userName).then(res => {
        this.mySellList = res.data
      })
    },
    // 轮播图点击跳转详情
    getGoodInfo(id){
      this.goodsId = id
      this.$router.push({ path: "/info", query: { goodsId: this.goodsId } });
    },
    delGoods(goodsId){
      delGoods(goodsId).then(res => {
        this.$message.success("操作成功");
        this.getMySellList()
      })
    }
  }
}
</script>


<style scoped>
.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 300px;
  margin-top: 500px;
  position: fixed;
}
.font1 {
  position: relative;
  width: 150px;
  height: 45px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
  padding: 0 30px;
  margin: 0 auto 20px;
  overflow: hidden;
  color: #333;
}
.box-card {
  width: 100%;
  margin-bottom: 20px;
}

.item-img {
  width: 120px;
  height: 120px;
}

.item-name {
  font-size: 16px;
  margin-bottom: 10px;
}

.item-price {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.photolist {
  margin-top: 40px;
}
</style>
