<!--布局文件-->
<!-- YiHan -->

<script>
import CommonHeader from "@/components/CommonHeader.vue";
import AppTopNav from "@/components/AppTopNav.vue";

export default {
  name: "store",
  components: {AppTopNav, CommonHeader}
}
</script>

<template>
  <div>
    <el-container>
      <!--      顶部-->
      <AppTopNav/>
      <!--      头部-->
      <el-header>
        <common-header style="height: 70px"/>
      </el-header>
      <!--     主题 -->
      <el-main>
        <router-view/>
      </el-main>

    </el-container>
  </div>
</template>

<style scoped>
el-main {
  margin-top: 30px;
}
</style>
