<!-- 用户登录页面 -->
<!-- YiHan -->

<template>
  <div class="login-container">
    <div>
      <h2>User Login</h2>
      <el-form v-if="loginType === 'account'" ref="accountForm" :model="accountForm" :rules="accountRules" label-width="70px" class="login-form">
        <!-- Login type switch buttons -->
        <el-radio-group v-model="loginType">
          <el-radio label="account">Account Login</el-radio>
          <el-radio label="phone">Phone Number Login</el-radio>
        </el-radio-group>

        <!-- Account login -->
        <el-form-item label="Username:" prop="userAccount" style="margin-top: 10px">
          <el-input v-model="accountForm.userAccount" placeholder="Enter your username"></el-input>
        </el-form-item>
        <el-form-item label="Password:" prop="userPassword">
          <el-input type="password" v-model="accountForm.userPassword" placeholder="Enter your password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="accountLogin">Login</el-button>
        </el-form-item>
      </el-form>

      <el-form v-if="loginType === 'phone'" ref="phoneForm" :model="phoneForm" :rules="phoneRules" label-width="80px" class="login-form">
        <!-- Phone number login -->
        <el-radio-group v-model="loginType">
          <el-radio label="account">Account Login</el-radio>
          <el-radio label="phone">Phone Number Login</el-radio>
        </el-radio-group>
        <el-form-item label="Phone:" prop="phone" style="margin-top: 10px">
          <el-input v-model="phoneForm.phone" placeholder="Enter your number"></el-input>
        </el-form-item>
        <el-form-item  label="Verification:" prop="code">
          <el-input placeholder="Enter verification" v-model="phoneForm.code"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="phoneLogin">Login</el-button>
          <el-button type="info" @click="sendCode">SendCode</el-button>
        </el-form-item>
      </el-form>
    </div>

    <div>
      <el-dialog title="请输入用户信息" :visible.sync="dialogOpen"  width="20%" :close-on-click-modal="false">
        <el-form>
          <el-form ref="user" :model="user" :rules="rules" label-width="100px" class="login-form">
            <!-- Account login -->
            <el-form-item label="Username:" prop="userAccount">
              <el-input v-model="user.userAccount" placeholder="Enter your username"></el-input>
            </el-form-item>
            <el-form-item label="Password:" prop="userPassword">
              <el-input type="password" v-model="user.userPassword" placeholder="Enter your password"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="updateUserInfo">Login</el-button>
            </el-form-item>
          </el-form>
        </el-form>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import {checkPhoneCode, getPhoneCode, login, updateUserInfo} from "@/api/user/user";
import {setToken} from "@/utils/auth";

export default {
  name: 'login',
  data() {
    return {
      accountForm: {
        userAccount: '',
        userPassword: ''
      },
      phoneForm: {
        phone: '',
        code: '',
      },
      loginType: 'account', // Default selection is account login
      countdown: 0, // Verification code countdown,
      rules: {
        userAccount: [
          {required: true, message: '账号不能为空', trigger: 'blur'}
        ],
        userPassword: [
          {required: true, message: '密码不能为空', trigger: 'blur'}
        ]
      },
      dialogOpen: false,
      user: {},
      accountRules: {
        userAccount: [
          {required: true, message: '账号不能为空', trigger: 'blur'}
        ],
        userPassword: [
          {required: true, message: '密码不能为空', trigger: 'blur'}
        ]
      },
      phoneRules: {
        phone: [
          {required: true, message: '手机号不能为空', trigger: 'blur'}
        ],
        code: [
          {required: true, message: '验证码不能为空', trigger: 'blur'}
        ]
      }
    };
  },
  methods: {
    accountLogin(){
      this.$refs.accountForm.validate((valid) => {
        if (valid){
          let obj = {}
          obj.userAccount = this.accountForm.userAccount
          obj.userPassword = this.accountForm.userPassword
          login(obj, this.loginType).then(res => {
            if (res.code === 200){
              console.log(res.data)
              const user = res.data
              this.$store.commit('setUser', user);
              setToken(user.token)
              this.$store.commit('setToken', user.token);
              localStorage.setItem('user', JSON.stringify(user));
              this.$router.replace("/")
            }
          }).catch(() => {
          })
        }
      })
    },
    sendCode() {
      const phonePattern = /^1[3-9]\d{9}$/; // 11位数字，以1开头，第二位是3-9之间的数字
      if (!phonePattern.test(this.phoneForm.phone)) {
        this.$message.error("请输入正确的手机号格式");
      } else {
        getPhoneCode(this.phoneForm.phone).then(res => {
          this.$message.success("验证码发送成功,你的验证码是"+ res.msg);
        })
      }
    },
    phoneLogin(){
      this.$refs.phoneForm.validate((valid) => {
        if (valid){
          let obj = {}
          obj.phone = this.phoneForm.phone
          obj.code = this.phoneForm.code
          checkPhoneCode(obj).then(res => {
            this.user = res.data
            this.dialogOpen = true
          })
        }
      })
    },
    updateUserInfo(){
      this.$refs.user.validate((valid) => {
        if (valid){
          updateUserInfo(this.user).then(res => {
            const user = res.data
            this.$store.commit('setUser', user);
            setToken(user.token)
            this.$store.commit('setToken', user.token);
            localStorage.setItem('user', JSON.stringify(user));
            this.$router.push('/').catch(err => console.log(err))
          })
        }
      })
    }
  },
};
</script>

<style scoped>
/* Add some styles to beautify the login page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjusted height to make it a bit smaller */
  margin-top: -50px; /* Move the form up by adjusting the margin-top */
}

.login-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Add some space at the top for better visual balance */
}

/* Style the form elements */
el-form-item {
  margin-bottom: 20px; /* Add space between form items */
}

el-button {
  width: 100%; /* Make the button full-width */
}

.login-container {
  background-image: url('../../assets/BingWallpaper.png'); /* Replace with your background image path */
  background-size: cover; /* Keep the background image covering the entire page */
  background-position: center; /* Position the background image in the center of the page */
  width: 100%;
  height: 103.5vh;
}
</style>
