<!--个人信息详情以及修改页面-->
<!-- YiHan -->

<template>
  <div class="profile-container">
    <h2>个人信息</h2>
    <el-descriptions :border="true">
      <el-descriptions-item label="账户">{{ userInfo.userAccount }}</el-descriptions-item>
      <el-descriptions-item label="用户名">{{ userInfo.userName }}</el-descriptions-item>
      <el-descriptions-item label="头像">
        <img :src="userInfo.userAvatar" alt="头像" style="width: 50px; height: 50px; border-radius: 50%;">
      </el-descriptions-item>
      <el-descriptions-item label="简介">{{ userInfo.desc }}</el-descriptions-item>
      <el-descriptions-item label="性别">{{ userInfo.sex }}</el-descriptions-item>
      <el-descriptions-item label="手机号">{{ userInfo.phone }}</el-descriptions-item>
      <el-descriptions-item label="生日">{{ userInfo.birthday }}</el-descriptions-item>
      <el-descriptions-item label="喜好">{{ userInfo.bobby }}</el-descriptions-item>
      <el-descriptions-item label="角色">{{ userInfo.role }}</el-descriptions-item>
      <el-descriptions-item label="常住地">{{ userInfo.locate }}</el-descriptions-item>
      <el-descriptions-item label="创建时间">{{ userInfo.createTime }}</el-descriptions-item>
    </el-descriptions>

    <el-button style="margin-top: 20px" type="primary" @click="editProfile">编辑个人信息</el-button>

    <el-dialog
        :visible.sync="editDialogVisible"
        :title="editDialogTitle"
        width="30%"
    >
      <el-form :model="editForm" ref="editForm" :rules="editFormRules">
        <!-- 根据需要添加表单项，以下为示例 -->
        <el-form-item label="用户名" prop="userName">
          <el-input v-model="editForm.userName"></el-input>
        </el-form-item>
        <el-form-item label="简介" prop="desc">
          <el-input v-model="editForm.desc"></el-input>
        </el-form-item>
        <el-form-item label="头像" prop="userAvatar">
          <el-input v-model="editForm.userAvatar"></el-input>
        </el-form-item>

        <el-form-item label="性别" prop="sex">
          <el-radio-group v-model="editForm.sex">
            <el-radio label="male">男</el-radio>
            <el-radio label="female">女</el-radio>
          </el-radio-group>
        </el-form-item>

        <el-form-item label="手机号" prop="phone">
          <el-input v-model="editForm.phone"></el-input>
        </el-form-item>

        <el-form-item label="生日" prop="birthday">
          <el-date-picker v-model="editForm.birthday" value-format="yyyy-MM-dd HH:mm:ss" type="date" placeholder="选择日期"></el-date-picker>
        </el-form-item>

        <el-form-item label="喜好" prop="bobby">
          <el-input v-model="editForm.bobby"></el-input>
        </el-form-item>

        <el-form-item label="常住地" prop="locate">
          <el-input v-model="editForm.locate"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button  type="primary" @click="saveProfile">保存</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import {getUserInfo, saveUserInfo} from "@/api/user/user";

export default {
  name: "UserInfo",
  created() {
    this.userId = this.$route.query.userId
    this.getUserInfo()
  },
  data(){
    return {
      userId: '',
      user: {},
      userInfo: {
        // 这里初始化用户信息，可以通过接口获取
        userName: '',
        userAvatar: '',
        desc: '',
        sex: '',
        phone: '',
        birthday: '',
        bobby: '',
        role: '',
        locate: '',
        createTime: '',
      },
      editDialogVisible: false,
      editDialogTitle: '编辑个人信息',
      editForm: {
        // 这里初始化用户信息，可以通过接口获取
        userName: '',
        userAvatar: '',
        desc: '',
        sex: '',
        phone: '',
        birthday: '',
        bobby: '',
        role: '',
        locate: '',
        createTime: '',
      },
      editFormRules: {
        userName: [{ required: true, message: '请输入用户名', trigger: 'blur' }],
        desc: [{ required: true, message: '请输入简介', trigger: 'blur' }],
        // 其他表单项的验证规则...
      },
    }
  },
  methods: {
    getUserInfo(){
      getUserInfo(this.userId).then(res => {
        this.userInfo = res.data
      })
    },
    editProfile() {
      // 在编辑按钮点击时，将用户信息赋值给编辑表单
      this.editForm = { ...this.userInfo };
      this.editDialogVisible = true;
    },
    saveProfile() {
      this.$refs.editForm.validate((valid) => {
        if (valid){
          // 在保存按钮点击时，执行保存逻辑，可以调用接口保存用户信息
          // 更新用户信息
          this.userInfo = { ...this.editForm };
          this.userInfo.birthday = new Date(this.editForm.birthday)
          // 关闭编辑对话框
          this.editDialogVisible = false;
          // 可以调用保存接口将修改后的数据保存到后端
          saveUserInfo(this.editForm).then(res => {
            this.getUserInfo()
          }).catch(error => {
            // 处理保存失败的逻辑
          });
        }
      })
    },
  }
}
</script>

<style scoped>
/* 根据需要添加样式 */
</style>
