<!--通用的导航栏-->
<!-- YiHan -->

<template>
  <div class="app-top-nav">
    <div class="w">
      <ul>
        <li>
          <i class="el-icon-s-home"></i>
          <a href="javascript:;" @click="goIndex">Home</a>
        </li>
        <li>
          <img :src="user.userAvatar" alt="头像" style="width: 45px; height: 45px">
        </li>
        <li>
          <a href="javascript:;" @click="getUserInfo">{{ user.userAccount == null ? 'Login' : user.userAccount }}</a>
        </li>
        <li>
          <a href="javascript:;" v-if="user.userAccount" @click="loginOut">LoginOut</a>
        </li>
        <li>
          <a href="javascript:;" @click="uploadGoods">Upload</a>
        </li>
        <li>
          <a href="javascript:;" @click="getOrderList">My Orders</a>
        </li>
        <li>
          <a href="javascript:;" @click="chat">Membership</a>
        </li>
        <li>
          <a href="javascript:;" @click="toManage">Management</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    this.getLocalUser()
  },
  data() {
    return {
      user: {
        userId: null,
        userAccount: null,
        userAvatar: null,
        role: null
      }
    };
  },
  methods: {
    goIndex() {
      this.$router.push('/').catch(err => console.log(err))
    },
    getLocalUser() {
      const user = JSON.parse(localStorage.getItem("user"));
      if (user != null) {
        this.user.userId = user.userId
        this.user.userAccount = user.userAccount
        this.user.userAvatar = user.userAvatar
        this.user.role = user.role
      }
    },
    loginOut() {
      this.$store.commit('setUser', null);
      localStorage.removeItem('user');
      this.$router.push('/login').catch(err => console.log(err));
    },
    getUserInfo() {
      if (this.user.userAccount == null) {
        this.$router.push("/login").catch(err => console.log(err))
      } else {
        this.$router.push({path: "/userinfo", query: {userId: this.user.userId}}).catch(err => console.log(err));
      }
    },
    getOrderList() {
      this.$router.push('/orderlist').catch(err => console.log(err))
    },
    uploadGoods(){
      this.$router.push('/upload').catch(err => console.log(err))
    },
    toManage(){
      if (this.user.role === 'admin'){
        this.$router.push('/admin').catch(err => console.log(err))
      } else {
        this.$message.error("权限不足");
      }
    },
    chat(){
      this.$router.push('/chat').catch(err => console.log(err))
    }
  }
};
</script>

<style lang="less" scoped>
.app-top-nav {
  background-color: #333;

  ul {
    display: flex;
    height: 30px;
    line-height: 40px;
    justify-content: flex-end;
    margin-right: 200px;

    li {
      a {
        font-size: 12px;
        padding: 0 15px;
        color: #ccc;
        border-left: 1px solid #ccc;

        &:hover {
          color: #cc9756;
        }
      }
    }

    li:nth-child(1) {
      a {
        border-left: 0;
      }
    }
  }
}
</style>
