<!--购买页面-->
<!-- YiHan -->

<template>
  <div class="buy">
    <!-- Progress bar -->
    <el-steps :active="currentStep">
      <el-step title="Fill in Order Information" icon="el-icon-edit"></el-step>
      <el-step title="Submit Order" icon="el-icon-upload"></el-step>
      <el-step title="Payment Completed" icon="el-icon-picture"></el-step>
    </el-steps>

    <!-- Step One: Fill in Order Information -->
    <el-card v-if="currentStep === 0">
      <el-form :rules="rules" :model="buyForm" ref="buyForm">
        <el-form-item label="Name" prop="userName">
          <el-input v-model="buyForm.userAccount" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="Address" prop="shippingAddress">
          <el-input v-model="buyForm.shippingAddress"></el-input>
        </el-form-item>
        <el-form-item label="Total" prop="buyForm">
          <el-input v-model="buyForm.totalPrice" @change="getTotal" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="Shipping Cost" prop="price">
          <el-input v-model="buyForm.emoPrice" @change="getTotal" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="Paid" prop="totalPrice">
          <el-input v-model="buyForm.actualPrice" :disabled="true"></el-input>
        </el-form-item>
      </el-form>

      <!-- Confirm purchase list -->
      <el-table
          :data="buyForm.selectList"
          style="width: 100%"
          border
      >
        <el-table-column width="55" align="center"/>
        <el-table-column label="Product" align="center">
          <template slot-scope="scope">
            <div class="product-info">
              <img :src="scope.row.p1" alt="" class="product-image" style="width: 100px;height: 100px"/><br>
              <span class="product-name">{{ scope.row.title }}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="price" label="Unit Price" align="center"/>
        <el-table-column prop="count" label="Quantity" align="center"/>
        <el-table-column prop="location" label="Location" align="center"/>
        <el-table-column prop="sendMethod" label="SendMethod" align="center"/>
      </el-table>

      <!-- Other order information form and content -->

      <div class="over-btn">
        <el-button type="primary" @click="nextStep">Pay</el-button>
      </div>
    </el-card>

    <el-card v-if="currentStep === 1">
      <div slot="header">
        <span @click="toPay">Submit Order</span>
      </div>

      <!-- Display order content, show order details as needed -->

      <!-- Submit order button -->
      <el-button type="primary" @click="submitOrder">Click to Pay</el-button>
    </el-card>

    <!-- Step Three: Payment Completed -->
    <el-card v-if="currentStep === 2">
      <div slot="header">
        <span>Payment Completed</span>
      </div>
      <p @click="checkOrder" style="color: #4d90ff;cursor: pointer">View relevant information for the order</p>
      <!-- Display other order information -->
    </el-card>
  </div>
</template>

<script>
import {addOrder} from "@/api/order/order";

export default {
  created() {
    this.buyForm.selectList = this.$route.query.selectList
    this.buyForm.totalPrice = this.$route.query.totalPrice
    this.buyForm.actualPrice = (Number)(this.buyForm.totalPrice) + (Number)(this.buyForm.emoPrice)
    this.buyForm.userId = JSON.parse(localStorage.getItem("user")).userId
    this.buyForm.userAccount = JSON.parse(localStorage.getItem("user")).userAccount
  },
  data() {
    return {
      currentStep: 0,
      selectedAddress: [], // Save selected address
      orderData: "", // Save order data
      // Other data and options
      addressOptions: [
        // Replace with actual data for three-level linkage
      ],
      buyForm: {
        userId: '',
        userAccount: '',
        shippingAddress: '',
        totalPrice: 0,
        emoPrice: 10,
        actualPrice: 0,
        selectList: []
      },
      // 返回后的订单号
      orderId: '',
      rules: {
        shippingAddress: [
          {required: true, message: '地址不能为空', trigger: 'blur'}
        ]
      }
    };
  },
  methods: {
    // Submit order
    submitOrder() {
      this.currentStep = 2;
      this.createOrder()
    },
    getTotal(){
      this.buyForm.actualPrice = this.buyForm.totalPrice + this.buyForm.emoPrice
    },
    nextStep(){
      this.$refs['buyForm'].validate((valid) => {
        if (valid) {
          this.currentStep += 1
        }
      })
    },
    toPay(){
      this.currentStep += 1
    },
    createOrder(){
      console.log(this.buyForm)
      addOrder(this.buyForm).then(res => {
        this.$message.success("订单创建成功");
        this.orderId = res.msg
      })
    },
    checkOrder(){
      this.$router.push('/orderlist').catch(err => console.log(err))
    }
  },
};
</script>

<style>
.buy {
  margin-top: 30px;
}
.step-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header {
  background-color: #f5f5f5;
}
.over-btn {
  margin-top: 10px;
}
</style>
