<!--聊天界面-->
<!-- YiHan -->

<template>
  <div class="chat-container">
    <!-- 用户名区域 -->
    <div class="sendUser-area">
      <el-input placeholder="请输入用户名" v-model="msg.receiveUser"></el-input>
    </div>
    <!-- 聊天框区域 -->
    <div class="messages-area">
      <el-scrollbar wrap-class="scrollbar-wrapper">
        <div v-for="message in messages" :key="message.id" :class="{'message': true, 'own-message': message.own}">
          <div class="message-content" :class="{'is-own': message.own}">
            {{ message.content }}
          </div>
        </div>
      </el-scrollbar>
    </div>

    <!-- 输入和发送消息区域 -->
    <div class="input-area">
      <el-input
          type="textarea"
          :rows="2"
          placeholder="输入消息..."
          v-model="msg.sendContent"
          class="message-input"
      ></el-input>
      <el-button type="primary" @click="sendMessage">发送</el-button>
    </div>
  </div>
</template>

<script>
import {getMsg, sendMsg} from "@/api/admin/msg";

export default {
  mounted() {
    this.msg.sendUser = JSON.parse(localStorage.getItem("user")).userAccount
    this.msg.receiveUser = this.$route.query.userName

  },
  beforeDestroy() {
    // 在组件销毁前清除定时器，以防止内存泄漏
    clearInterval(this.timer);
  },
  data() {
    return {
      msg: {
        sendContent: '',
        // 接收人
        receiveUser: '',
        // 发送人
        sendUser: '',
      },
      messages: [],
    };
  },
  methods: {
    getMsg() {
      // 使用 setInterval 创建一个定时器，每两秒执行一次 fetchData 函数
      getMsg(this.msg).then(res => {
        res.data.forEach(m => {
          if (m.own == 1) {
            m.own = true
          } else {
            m.own = false
          }
        })
        this.messages = res.data
      })
    },
    sendMessage() {
      this.timer = setInterval(this.getMsg, 2000);
      sendMsg(this.msg).then(res => {
        this.sendContent = '';
      })
    },
  },
};
</script>

<style scoped>
.chat-container {
  width: 100%;
  max-width: 600px; /* 调整为期望的宽度 */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.messages-area {
  height: 600px; /* 调整为期望的高度 */
  border: 1px solid #ccc;
  overflow-scrolling: auto;
}

.scrollbar-wrapper {
  height: 100%;
}

.message {
  padding: 2px;
  display: flex;
}

.own-message .message-content {
  margin-left: auto;
  background-color: #DCF8C6; /* 本人消息的背景色 */
}

.message-content {
  padding: 1px 2px;
  border-radius: 4px;
  background-color: #f0f0f0; /* 别人消息的背景色 */
  max-width: 60%; /* 最大宽度限制 */
  word-wrap: break-word;
}

.input-area {
  display: flex;
  align-items: center;
}

.message-input {
  flex: 1;
  margin-right: 10px;
}
</style>
