<!--通用的头部导航 轮播图与搜索框-->
<!-- YiHan -->

<template>
  <div class="main-container">
    <el-col :span="4"></el-col>
    <!-- Left Logo -->
    <el-col :span="4">
      <div class="logo">
        <!-- Place your Logo image or text -->
        <img src="../assets/logo/logo.png" height="180" width="320" @click="$router.push('/')">
      </div>
    </el-col>

    <!-- Middle Search Box -->
    <el-col :span="12">
      <div>
        <!-- Use Element UI Input component for the search box -->
        <el-input class="search-box" placeholder="Please enter search content" v-model="keyword"
                  style="width: 70%"></el-input>
        <el-button class="search-bt" @click="search"><i class="el-icon-search" style="margin-right: 5px"></i>Search
        </el-button>
        <el-button class="cart" @click="checkCart"><i class="el-icon-shopping-cart-full" style="margin-right: 5px"></i>Cart
        </el-button>
      </div>
    </el-col>

    <!-- Right Blank Layout -->
    <el-col :span="4"></el-col>
  </div>
</template>

<script>

import SearchList from "@/components/SearchList.vue";

export default {
  components: {
    SearchList

  },
  data() {
    return {
      keyword: ''
    }
  },
  methods: {
    search() {
      const currentRoute = this.$route.path; // 获取当前路由
      const newRoute = {path: "/search", query: {keyword: this.keyword}};

      // 检查新路由是否与当前路由相同
      if (currentRoute !== newRoute.path || this.keyword !== this.$route.query.keyword) {
        this.$router.push(newRoute).catch(err => console.log(err));
      } else {
        // 如果路由相同，则通过更改键（key）来强制导航
        this.$router.replace({...newRoute, key: Date.now()}).catch(err => console.log(err));
      }
    },
    checkCart() {
      this.$router.push('/cart').catch(err => console.log(err))
    }
  }
};
</script>

<style lang="less" scoped>
.main-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-color: #fff; /* Set background color */
}

.logo {
  &:hover {
    color: #cc9756;
  }
}

.search-box {
  float: left;
  width: 100px;
  height: 35px;
  color: #fff;
  border-radius: 0 20px 20px 0;
  border: 0;
  font-size: 16px;
  cursor: pointer;
}

.search-bt {
  margin-left: 5px;
  color: white;
  background: orangered;
}

.cart {
  margin-left: 20px;
}
</style>
