<!--购物车界面-->
<!-- YiHan -->

<template>
  <div class="card-list">
    <el-table
        :data="goodsList"
        style="width: 100%"
        border
        highlight-current-row
        tooltip-effect="dark"
        @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center"/>
      <el-table-column label="Product" align="center">
        <template slot-scope="scope">
          <div class="product-info">
            <img :src="scope.row.p1" alt="" class="product-image"/><br>
            <span class="product-name">{{ scope.row.title }}</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="price" label="Unit Price" align="center"/>
      <el-table-column prop="count" label="Quantity" align="center"/>
      <el-table-column prop="total" label="Subtotal" align="center"/>
      <el-table-column label="Action" align="center">
        <template slot-scope="scope">
          <el-button type="text" @click="removeItem(scope.row)">Delete</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-divider></el-divider>

    <!-- ... (existing template code) ... -->
    <div class="cart-summary">
      <span>{{ checkNum }} items selected</span>
      <span class="total-price">Total: $ {{ totalPrice }}</span>
      <el-button type="primary" @click="checkout" :disabled="checkNum === 0">Proceed to Checkout</el-button>
    </div>
  </div>
</template>

<script>
import {deleteFromCart, getCartList} from "@/api/shop/goodsCar";

export default {
  name: "GoodsCar",
  created() {
    this.getUser()
    this.getCartList();
  },
  data(){
    return {
      goodsList: [],
      selectAll: false,
      user: {},
      delForm: {},
      checkNum: 0,
      totalPrice: 0,
      selectList: []
    }
  },
  methods: {
    getUser() {
      this.user = JSON.parse(localStorage.getItem('user'))
    },
    getCartList(){
      getCartList(this.user.userId).then(res => {
        this.goodsList = res.data
      })
    },
    handleSelectionChange(selection) {
      this.selectList = selection
      this.totalPrice = 0
      this.checkNum = selection.length; // Use length property instead of size
      if (selection.length === 0){
        this.totalPrice = 0
      } else {
        selection.forEach(m => {
          this.totalPrice += (m.price * m.count)
        })
      }
      this.selectAll = selection.length === this.goodsList.length;
    },
    removeItem(row) {
      this.delForm.goodsId = row.goodsId
      this.delForm.userId = this.user.userId
      deleteFromCart(this.delForm).then(res => {
        if (res.code === 200){
          this.$message.success("Operation successful")
          this.getCartList()
        }
      })
    },
    checkout(){
      console.log(this.selectList)
      this.$router.push({path: '/buy', query: {selectList: this.selectList, totalPrice: this.totalPrice}})
    }
  }
}
</script>

<style scoped>
.cart-summary {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total-price {
  margin-left: 20px;
}
.card-list {
  position: relative;
  margin-top: 50px;
}
.product-image {
  height: 80px;
  width: 80px;
}
</style>
