<!--工单列表界面-->
<!-- YiHan -->

<template>
  <div>
    <div>
      <h1>My Work Order List</h1>
      <el-button @click="getOrderList('buy')">What I've Bought</el-button>
      <el-button @click="getOrderList('sell')">What I've Sold</el-button>
    </div>
    <div class="list-table">
      <el-table :data="orderList" border>
        <el-table-column label="Order Number" prop="orderId" align="center"></el-table-column>
        <el-table-column label="Product Information" prop="title" align="center">
          <template slot-scope="scope">
              <span style="color: #4d90ff; cursor: pointer"
                    @click="getGoodsInfo(scope.row)">{{ scope.row.title }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Quantity" prop="num" align="center"></el-table-column>
        <el-table-column label="Unit Price" prop="price" align="center"></el-table-column>
        <el-table-column label="Postage" prop="freight" align="center"></el-table-column>
        <el-table-column label="Actual Payment" prop="realPrice" align="center"></el-table-column>
        <el-table-column label="Order Time" prop="orderTime" align="center"></el-table-column>
        <el-table-column label="Delivery Method" prop="sendMethod" align="center"></el-table-column>
        <el-table-column label="Dispatch Address" prop="location" align="center"></el-table-column>
        <el-table-column label="Delivery Address" prop="address" align="center"></el-table-column>
        <el-table-column label="Status" prop="status" align="center"></el-table-column>
        <el-table-column label="Action" align="center">
          <template slot-scope="scope">
            <el-button type="danger" @click="deleteOrder(scope.row)">Delete</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import {delOrder, getOrderList} from "@/api/order/order";

export default {
  name: "OrderList",
  created() {
    this.getUserInfo()
    this.getOrderList()
  },
  data() {
    return {
      user: {
        userId: '',
        userAccount: ''
      },
      orderList: [],
      goodsId: ''
    }
  },
  methods: {
    getUserInfo() {
      const user = JSON.parse(localStorage.getItem("user"));
      if (user != null) {
        this.user.userId = user.userId
        this.user.userAccount = user.userAccount
      }
    },
    getOrderList(type) {
      getOrderList(this.user.userAccount, type).then(res => {
        this.orderList = res.data
      })
    },
    deleteOrder(row) {
      delOrder(row.id).then(res => {
        if (res.code == 200) {
          this.$message.success(res.msg)
        } else {
          this.$message.error(res.msg)
        }
      })
    },
    getGoodsInfo(row){
      console.log(row)
      this.goodsId = row.goodsId
      this.$router.push({ path: "/info", query: { goodsId: this.goodsId } }).catch(err => console.log(err))
    }
  }
}
</script>

<style scoped>
.list-table {
  margin-top: 10px;
}
</style>
