<!--搜索列表-->
<!-- YiHan -->

<template>
  <div>
    <el-divider><span class="font1">Search Result</span></el-divider>
    <el-row>
      <el-col v-for="(item, index) in searchList" :key="index" :span="6">
        <el-card class="box-card" >
          <img :src="item.p1" class="item-img" alt="" @click="getGoodInfo(item.goodsId)"/>
          <div class="text item-name" @click="getGoodInfo(item.goodsId)">{{ item.title }}</div>
          <div class="text item-price" @click="getGoodInfo(item.goodsId)">$ {{ item.price }}</div>
          <!--            <el-button class="button" type="primary" @click="look(item)">查看</el-button>-->
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {search} from "@/api/shop/shop";

export default {
  name: "SearchList",
  created() {
    this.keyword = this.$route.query.keyword
    this.searchGoodsList()
  },
  data(){
    return {
      keyword: '',
      searchList: []
    }
  },
  methods: {
    getGoodInfo(id){
      this.goodsId = id
      this.$router.push({ path: "/info", query: { goodsId: this.goodsId } }).catch(err => console.log(err))
    },
    searchGoodsList(){
      console.log(this.$router)
      search(this.keyword).then(res => {
        this.searchList = res.data
      }).catch( err => {
      })
    }
  }
}
</script>


<style scoped>
.font1 {
  position: relative;
  width: 150px;
  height: 45px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
  padding: 0 30px;
  margin: 0 auto 20px;
  overflow: hidden;
  color: #333;
}
.item-img {
  width: 100px;
  height: 100px;
}
</style>
