<!--商品详情列表-->
<!-- YiHan -->

<template>
  <div class="outer-container">
    <el-card class="product-detail">
      <el-row>
        <!-- Left carousel, occupying 6 columns -->
        <el-col :span="12">
          <el-carousel :interval="3000" type="card" arrow="always" height="500px">
            <el-carousel-item v-for="(img, index) in [goods.p1, goods.p2, goods.p3, goods.p4]" :key="index">
              <img :src="img" alt="" style="width: 100%; height: 100%;"/>
            </el-carousel-item>
          </el-carousel>
        </el-col>

        <!-- Right product details, occupying 12 columns -->
        <el-col :span="12">
          <div class="product-info">
            <h2>{{ goods.title }}</h2>
            <p>{{ goods.description }}</p>
            <p>price: ${{ goods.price }}</p>
            <p>category: {{ goods.category }}</p>
            <p>brand: {{ goods.brand }}</p>
            <p><i class="el-icon-position"/> location: {{ goods.location }} : {{ goods.userName }}</p>
            <el-progress :text-inside="true" :stroke-width="20" :percentage="goods.level"></el-progress>
            <el-collapse>
              <el-collapse-item title="product description" name="1">
                {{ goods.description }}
              </el-collapse-item>
            </el-collapse>
            <div class="buy-btn" style="margin-left: 10px">
              <el-button @click="addCard" type="primary">Add to cart</el-button>
              <el-button @click="chat" type="info">Chat</el-button>
            </div>
          </div>
        </el-col>
      </el-row>
    </el-card>

    <!-- Comment section -->
    <el-card class="comment-section">
      <!-- Display comment list -->
      <el-row v-for="(comment, index) in comments" :key="index">
        <el-col :span="24">
          <el-card>
            <p>{{ comment.userName }} Rating: <span class="scope">{{ comment.scope }}</span> Points</p>
            <p>{{ comment.content }}</p>
            <p style="float: right">{{ comment.contentTime }}</p>
          </el-card>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
          <h3>User Comments</h3>
        </el-col>
      </el-row>
      <!-- User rating -->
      <el-row>
        <el-col :span="24">
          <el-rate v-model="scope" :colors="colors" :max="5" text-template="{value} Points" show-score></el-rate>
        </el-col>
      </el-row>
      <!-- Comment form -->
      <el-row>
        <el-col :span="24">
          <el-form :model="commentForm" ref="commentForm" label-position="left" label-width="80px">
            <el-form-item label="Your Review">
              <el-input v-model="commentForm.content" type="textarea"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="submitComment">Submit Review</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>

<script>
import {addGoodsContent, getGoodInfoDetail} from "@/api/shop/shop";
import {addGoodsCart} from "@/api/shop/goodsCar";
import chat from "@/components/Chat.vue";

export default {
  name: "ShopInfo",
  data() {
    return {
      goodsId: "",
      goods: {

      },
      scope: 0,
      commentForm: {
        content: "",
      },
      goodsCar: {},
      comments: [],
      contentForm: {},
      colors: ['#99A9BF', '#F7BA2A', '#FF9900']
    };
  },
  created() {
    this.goodsId = this.$route.query.goodsId;
    this.getGoodInfo();
  },
  methods: {
    getGoodInfo() {
      getGoodInfoDetail(this.goodsId).then((res) => {
        this.goods = res.data;
        this.comments = res.data.contendList;
      });
    },
    // Submit comment
    submitComment() {
      this.contentForm.scope = this.scope;
      this.contentForm.content = this.commentForm.content;
      this.contentForm.goodsId = this.goodsId;
      this.contentForm.userId = JSON.parse(localStorage.getItem("user")).userId
      this.contentForm.userName = JSON.parse(localStorage.getItem("user")).userAccount;
      addGoodsContent(this.contentForm).then((res) => {
        this.$message.success(res.msg);
      }).catch(err => {
      })
      this.$refs.commentForm.resetFields();
      this.getGoodInfo();
    },
    addCard() {
      //
      this.goodsCar.goodsId = this.goodsId
      this.goodsCar.userId = JSON.parse(localStorage.getItem('user')).userId
      console.log(this.goodsCar)
      addGoodsCart(this.goodsCar).then(res => {
        if (res.code === 200) {
          this.$message.success("添加成功")
        }
      })
    },
    chat(){
      this.$router.push({path: '/chat', query: {userName: this.goods.userName}}).catch(err => console.log(err))
    }
  },
};
</script>

<style scoped>
.outer-container {
  margin-top: 30px;
  height: 1000px; /* Adjust to your desired height */
}

.product-detail {
  margin-top: 80px;
}

.product-info {
  padding: 10px;
}

.comment-section {
  margin-top: 20px;
  padding: 20px;
}

.buy-btn {
  padding: 20px;
  margin: 0 10px 0 20px;
}

.scope {
  font-size: 20px;
  color: red;
  margin-left: 20px;
}
</style>
