<!--文件上传界面-->
<!-- YiHan -->

<template>
  <div>
    <el-divider><span class="font1">Add Goods</span></el-divider>

    <el-form ref="formData" :model="formData" :rules="uploadRule" label-width="10%">

      <el-form-item label="Product Title" prop="title">
        <el-input v-model="formData.title" required></el-input>
      </el-form-item>

      <el-form-item label="Product Description" prop="description">
        <el-input type="textarea" v-model="formData.description" required></el-input>
      </el-form-item>

      <el-form-item label="Product Image" prop="p1">
        <el-upload
            class="upload-demo"
            :action="uploadUrl"
            :before-upload="handleBeforeUpload"
            :on-success="handleSuccess"
            :on-error="handleError"
            :auto-upload="true"
            :file-list="fileList"
            list-type="picture">
          <el-button size="small" type="primary">点击上传</el-button>
          <div slot="tip" class="el-upload__tip">文件上传提示信息</div>
        </el-upload>
      </el-form-item>

      <el-form-item label="Type" prop="category">
        <el-input v-model="formData.category"></el-input>
      </el-form-item>

      <el-form-item label="Brand" prop="brand">
        <el-input v-model="formData.brand"></el-input>
      </el-form-item>

      <el-form-item label="Degree of Newness" prop="level">
        <el-input v-model="formData.level" type="number" :max="10"></el-input>
      </el-form-item>

      <el-form-item label="Product Price" prop="price">
        <el-input v-model="formData.price" type="number" required></el-input>
      </el-form-item>

      <el-form-item label="Location" prop="location">
        <el-input v-model="formData.location"></el-input>
      </el-form-item>

      <el-form-item label="Delivery Method" prop="sendMethod">
        <el-input v-model="formData.sendMethod"></el-input>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="insertData">Insert Data</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import {addGoods} from "@/api/goods/goods";

export default {
  data() {
    return {
      maxLevel: 10,
      formData: {
        userName: '',
        title: '',
        description: '',
        category: '',
        brand: '',
        level: '',
        price: null,
        location: '',
        sendMethod: '',
        p1: '', // Array to store uploaded files
      },
      uploadUrl: 'http://localhost:8080/goods/upload',
      headers: {
        'Content-Type': 'multipart/form-data'
      },
      file: '',
      fileList: [],
      uploadRule: {
        title: [
          {required: true, message: 'The title cannot be empty', trigger: 'blur'}
        ],
        description: [
          {required: true, message: 'Product description cannot be empty', trigger: 'blur'}
        ],
      }
    };
  },
  methods: {
    insertData() {
      this.$refs.formData.validate((valid) => {
        if (valid) {
          this.formData.userName = JSON.parse(localStorage.getItem('user')).userAccount
          addGoods(this.formData).then(res => {
            this.$message.success("Successfully added");
            this.$refs.formData.resetFields();
            this.formData = {
              userName: '',
              title: '',
              description: '',
              category: '',
              brand: '',
              level: '',
              price: null,
              location: '',
              sendMethod: '',
              p1: '', // Array to store uploaded files
            }
            this.fileList = []
          })
        }
      })
    },
    handleBeforeUpload(file) {
      this.handleFileUpload({file});
    },
    handleFileUpload(fileObject) {
      let fd = new FormData();
      console.log(fileObject)
      fd.append("file", fileObject.file);

      // 这里是 AJAX 请求上传文件的代码
      // 例如使用 axios 发送 POST 请求
      this.$axios.post(this.uploadUrl, fd, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
    },
    handleSuccess(response, file, fileList) {
      // 文件上传成功后的钩子
      this.formData.p1 = response.data
      console.log(response)
      console.log(file)
      console.log(fileList)
      console.log(this.formData.p1)
    },
    handleError(err, file, fileList) {
      // 文件上传失败后的钩子
      console.error('失败:', err);
    }
  }
}
</script>

<style scoped>
.font1 {
  position: relative;
  width: 150px;
  height: 45px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
  padding: 0 30px;
  margin: 0 auto 20px;
  overflow: hidden;
  color: #333;
}
</style>
